.detail-do {
        background-color: rgb(230, 225, 247);
        margin: auto;
        border: 2px solid;
        border-radius: 15px;
        border-color: #5252cf;
        max-width: 500px;
        max-height: 600px;
        margin-top: 3rem;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
}
.detail-do label{
        color: rgb(34, 55, 73);
        font-size: 1.5rem;
        font-weight: bold;
        
}

.detail-do p,h2{
        padding-left: 20px;
}


.detail-do  a {
        font-weight: bold;
        background-color: aliceblue;
        border: #5252cf solid;
        padding: 5px;
        margin: 1rem;
        margin-bottom: 10px;
    
    }